
@{
    ViewData["Title"] = "View";
}

<h1>View</h1>
@for (int i=0; i < 4; i++)
{
    for (int j = 0; j < 4; j++)
    {
        <img src="/sun.png" alt=" image" width="100" height="100">
    }
    <br />
}


